/*
@keyframes animated-border {
from{
    box-shadow: 0 0 0 0 rgba(255,255,255,0.4);
}
to {
    box-shadow: 0 0 0 20px rgba(255,255,255,0);
}
}

.download {
    animation: animated-border 1.5s linear infinite;
    border: 2px solid;
    padding: 15px;
}
*/

.btn{
    font-size: 1rem;
    background: url('/assets/btn/hexagon-bg.png') repeat center center;
    color: $blue;
    padding: 6px 12px;
    border: 2px solid $blue;
    box-shadow: 0 0 1rem $blue;
    transition: all 0.3s ease-out;

    i{
        color: $blue;
    }

    &.btn-lg{
        font-size:1.5rem;
        font-weight:bold;
        padding: 12px 24px;
    }

    &.btn-md{
        font-size:1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        padding: 10px 22px;
        border-radius: 30px;
    }

    &.btn-sm{
        font-size:1rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        padding: 12px 24px;
        border-radius: 30px;
    }

    &:hover{
        background: $blue;
        color: $background;

        i{
            color: $background;
        }
    }
}

.download-btn{
    position: relative;
    padding: 10px 0;
    height: max-content;
}