.footer{
    width: 100%;
    border-top: 3px solid $blue;
    background: url('/assets/hexagon-bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem $blue;

    .col{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title{
            font-weight: bold;
        }

        img{
            max-width: 30vh;
        }
    }
}