// for testing
#page-y-offset{
    position: fixed;
    bottom: 10px; left: 10px;
    padding: 10px;
    background: white;
    color: black;
}

.intro{
    width: 100% !important;

    &.parallax{
        height: 80vh;
        width: 100% !important;
        position: relative;
        background: transparent !important;
        overflow: hidden !important;
        //border: 1px solid red;

        .parallax-item{
            background-size: cover !important;
            background-position: bottom center !important;
            height: 100% !important;
            width: 100% !important;
            position: absolute !important;
            top: 0; left: 0;
        }

        .frame{
            background: url('/assets/intro/parallax/frame.png') no-repeat;
            z-index: 10;
        }
        .bg{
            background: url('/assets/banner/banner_bg.jpg') no-repeat;
            z-index: 6;
        }
        .cards{
            background: url('/assets/banner/banner_cards.png') no-repeat;
            z-index: 7;
        }
        .logo{
            background: url('/assets/banner/banner_logo.png') no-repeat;
            background-position: center -5vh !important;
            background-size: 70% !important;
            z-index: 9;
        }
        .robot{
            background: url('/assets/banner/banner_pyron.png') no-repeat;
            background-position: center -5vh !important;
            background-size: 75% !important;
            z-index: 8;   
        }
        
        &.small{
            height: 48vh;

            .cards{
                background-position: center 50% !important;
            }
            .robot{
                background-position: 30vw 50% !important;
                background-size: 70% !important;
            }
            .logo{
                background-position: 0 -15vh !important;
                background-size: 50% !important;
            }
        }
    }

    @media (orientation: portrait) {
        &.parallax{
            height: 40vh;

            .logo{
                background-size: 220vw !important;
                background-position: -7vw 1vw !important;
            }
            .robot{
                display: none;
            }
        }
    }

    .react-parallax-content{

        display: flex;
        justify-content: center;
        align-items: flex-end;

        .main-container{
            margin-top: 60px;
            position: relative;
        }
    } 

}