.intro{

    width: 100% !important;
    text-align: center;

    .react-parallax-content{

        display: flex;
        justify-content: center;
        align-items: flex-end;

        .main-container{
            margin-top: 60px;
            position: relative;
        }
    }

    

}