@media (min-width: 3840px) {
    .menu{
        top: 71vh !important;
        left: 25% !important;
        width: 50% !important;
    }
}

.menu{

    position: absolute;
    top: 67.3vh; left: 0;
    z-index: 12;

    &:before{
        content: " ";
        position: absolute;
        top: 11vh; left: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient($dark-blue, transparent);
    }

    &.small{
        top: 37.3vh;
    }

    .menu-container{
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 65%;
        //border: 1px solid red;
        color: black;
        /*
        margin: 0 auto;
        margin-top: 60px;
        */

        // gradient between frame and container
        

        .item{
            width: clamp(120px, 30%, 400px);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0 4.5vw;
            padding-top: 0;
            transition: all 0.5s ease;
            text-align: center;
            background: transparent;
            position: relative;

            &:before{
                content: "";
                position: absolute;
                top: -80px; left: 0;
                width: 100%;
                height: 350px;
                background: transparent;
                opacity: 0;
                transition-delay: 0.1s !important;
                transition: all 0.7s ease;
                //border: 1px solid red;
            }
            
            .text {
                a{
                    //font-size: 1.2rem;
                    //font-weight: bold;
                    //color: #00F0FF;
                    //text-shadow: 0 0 1rem $blue;
                    
                    font-size: 1rem;
                    text-transform: uppercase;
                    letter-spacing: 0.3rem;
                }
            }

            $radial-start: 1%;
            $radial-end: 60%;
            
            &.download{
                &:before{
                    background: radial-gradient(circle at center,#f196d0 $radial-start, transparent $radial-end);
                }
                .text a{
                    color: #f196d0;
                }
            }
            &.menu-news{
                &:before{
                    background: radial-gradient(circle at center,#93f1cf $radial-start, transparent $radial-end);
                }
                .text a{
                    color: #86f5c4;
                }
            }
            &.about{
                &:before{
                    background: radial-gradient(circle at center,#60c3e1 $radial-start, transparent $radial-end);
                }
                .text a{
                    color: #7ccbeb;
                }
            }

            &:hover{

                transform: scale(1.2);

                &:before{
                    opacity: 1;
                }
            }
        }
    }
}