.news{

    display: flex;
    flex-wrap: wrap;
    gap: 22px;

    .news-element{
        flex-basis: calc(50% - 22px);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
        //border: 1px solid $blue;

        .date{
            font-size: 0.8rem;
            opacity: 0.5;
            padding: 5px 0 0 0;
        }

        .img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 35vh;
            background: rgba(0,0,0,0.5);
            border: 1px solid rgba($blue,0.2);
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 20px;
            transition: all 0.3s ease;

            &:hover{
                border-color: rgba($blue,0.7);
            }

            a{
                width: 100%;
                height: 100%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
            
        }
        
        .title{
            margin-top: 11px;
            font-size: 1.5rem;
        }

        p{
            opacity: 0.7;
        }
    }

    @media (max-width: 600px) {
        .news-element{
            flex-basis: 100%;
        }
    }

}

#article{

    .buttons{
        .btn{
            margin-right: 14px;
        }
    }

    .grid{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 22px;
    }

    @media (max-width: 600px) {
        &.grid{
            display: flex;
            flex-direction: column;
        }

        .sidebar{
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .article{

        .img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50vh;
            background: rgba(0,0,0,0.5);
            border: 1px solid rgba($blue,0.2);
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 20px;
            overflow: hidden;
            position: relative;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain !important;
                object-position: center;
            }
        }

        .date{
            font-size: 0.9rem;
            opacity: 0.5;
            margin-bottom: 30px;
        }

        .title{
            margin-bottom: 10px;
        }

    }

    .sidebar{

        > .title{
            margin-bottom: 20px;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .article-element{
            margin-bottom: 10px;

            .date{
                font-size: 0.8rem;
                opacity: 0.5;
            }
        }

    }

}