$background: #0D0D0D;
//$background: #4C2968;
$accent: #EFA409;
$corp-accent: #00A3FF;
$text-light:#eaeaea;

$header-bg: #282828;
$content-bg: #282828;
$site-width: 960px;
$border-radius: 20px;

$purple: #522B86;
$orange: #FF7B02;
$green: #55FB79;
$yellow: #FFCE02;
$blue: #00f8ff;
$dark-blue: #0479f0;

$facebook: #3b5998;
$instagram: #E1306C;
$linkedin: #0e76a8;

$high: $yellow;
$low: white;

$success: #00A04A;
$fail: #E01F3D;