* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eaeaea;
  outline: none;
}

html, body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Roboto', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  background: #0D0D0D;
  color: #eaeaea;
  scroll-behavior: smooth;
}

input, textarea, button {
  font-family: 'Roboto', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

@media (min-width: 1025px) {
  html, body {
    font-size: 1.1rem;
  }
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #EFA409;
}

a:hover i {
  color: #EFA409;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
}

@media (max-width: 1023px) {
  body {
    padding-bottom: 50px;
  }
}

.navbar {
  background: #282828;
  height: 80px;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-color: #522B86;
}

.navbar .navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  height: 100%;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.navbar .navbar-items .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

.navbar .navbar-items .infos {
  font-size: 0.8rem;
  padding: 0 20px;
  width: 50%;
}

.navbar .navbar-items .infos .item {
  color: rgba(255, 255, 255, 0.6);
}

.navbar .navbar-items .infos .item i {
  margin-right: 6px;
  color: #00f8ff;
}

.navbar .navbar-items .infos .item:nth-of-type(1) {
  margin-bottom: 5px;
}

.navbar .navbar-items .nav-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  text-align: center;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: -10px;
}

.navbar .navbar-items .nav-menu .nav-links {
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.navbar .navbar-items .nav-menu .nav-links.highlight {
  background: white;
  color: black;
}

.navbar .navbar-items .nav-menu .nav-links:hover {
  background: #522B86;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: inherit;
}

.navbar .navbar-items .nav-menu .nav-links-mobile {
  display: none;
}

.navbar .navbar-items .menu-icon {
  display: none;
}

@media (max-width: 1023px) {
  .navbar .navbar-items {
    position: relative;
  }
  .navbar .navbar-items .logo-wrapper {
    margin-left: 0;
  }
  .navbar .navbar-items .infos {
    width: auto;
  }
  .navbar .navbar-items .infos .item {
    text-align: center;
    position: relative;
  }
  .navbar .navbar-items .infos .item .fa-envelope {
    position: absolute;
    left: -16px;
    top: 2px;
  }
  .navbar .navbar-items .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    padding: 40px;
    position: absolute;
    top: 80px;
    left: -150%;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    border-radius: 0 0 20px 20px;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  }
  .navbar .navbar-items .nav-menu li {
    display: table;
    text-align: center;
  }
  .navbar .navbar-items .nav-menu.active {
    background: #00f8ff;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar .navbar-items .nav-links {
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
  }
  .navbar .navbar-items .nav-links:hover {
    background: rgba(0, 0, 0, 0.5) !important;
  }
  .navbar .navbar-items .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .navbar .navbar-items .menu-icon i {
    color: #00f8ff;
  }
}

.section {
  margin-bottom: 32px;
}

.section.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  width: 100% !important;
}

.intro.parallax {
  height: 80vh;
  width: 100% !important;
  position: relative;
  background: transparent !important;
  overflow: hidden !important;
  /*
        @media (min-width: 1920px) {
            .logo{
                background-size: 85% !important;
            }
            .robot{
                background-position: 50% center !important;
                background-size: 65% !important;
            }  
        }

        @media (min-width: 2560px) {
            .logo{
                background-size: 70% !important;
            }  
            .robot{
                background-position: 70% center !important;
                background-size: 35% !important;
            }  
        }
        */
}

.intro.parallax .parallax-item {
  background-size: cover !important;
  background-position: bottom center !important;
  height: 100% !important;
  width: 100% !important;
  position: absolute !important;
  top: 0;
  left: 0;
}

.intro.parallax .frame {
  background: url("/assets/intro/parallax/frame.png") no-repeat;
  z-index: 10;
}

.intro.parallax .bg {
  background: url("/assets/intro/parallax/bg.png") no-repeat;
  z-index: 6;
}

.intro.parallax .cards {
  background: url("/assets/intro/parallax/cards.png") no-repeat;
  z-index: 7;
}

.intro.parallax .logo {
  background: url("/assets/intro/parallax/logo.png") no-repeat;
  background-position: top center !important;
  z-index: 9;
}

.intro.parallax .robot {
  background: url("/assets/intro/parallax/robot.png") no-repeat;
  background-position: center !important;
  background-size: 85% !important;
  z-index: 8;
}

.intro .react-parallax-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.intro .react-parallax-content .main-container {
  margin-top: 60px;
  position: relative;
}

/*
@keyframes animated-border {
from{
    box-shadow: 0 0 0 0 rgba(255,255,255,0.4);
}
to {
    box-shadow: 0 0 0 20px rgba(255,255,255,0);
}
}

.download {
    animation: animated-border 1.5s linear infinite;
    border: 2px solid;
    padding: 15px;
}
*/
.btn {
  font-size: 1rem;
  background: url("/assets/btn/hexagon-bg.png") repeat center center;
  color: #00f8ff;
  padding: 6px 12px;
  border: 2px solid #00f8ff;
  -webkit-box-shadow: 0 0 1rem #00f8ff;
          box-shadow: 0 0 1rem #00f8ff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn.btn-lg {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px 24px;
}

.btn:hover {
  background: #00f8ff;
  color: #0D0D0D;
}

.download-btn {
  position: relative;
  padding: 10px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
}

.news div {
  -ms-flex-preferred-size: calc(50% - 22px);
      flex-basis: calc(50% - 22px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.news div img {
  width: 100%;
  height: auto;
}

.news div .title {
  margin-top: 11px;
}

.container {
  padding: 32px 20px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  max-width: 960px;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.mb-2 {
  margin-bottom: 11px !important;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.mb-4 {
  margin-bottom: 22px !important;
}

.mb-5 {
  margin-bottom: 32px !important;
}

.mb-6 {
  margin-bottom: 42px !important;
}

.mb-7 {
  margin-bottom: 52px !important;
}

.fluid-media {
  position: relative;
  padding-bottom: 56.25%;
  /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  height: 0;
  overflow: hidden;
}

.fluid-media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=globals.css.map */