@import './_media_queries.scss';
@import './_variables.scss';
@import './_reset.scss';

@import './components/_Navbar.scss';
@import './components/_Section.scss';
@import './components/_Intro.scss';
@import './components/_Button.scss';
@import './components/_Gallery.scss';
@import './components/_News.scss';

.container{
    padding:32px 20px;
    width:100%;
    max-width: $site-width;
    margin:0 auto;
    max-width: $site-width;
}

// MARGINS
.mb-1{
    margin-bottom: 5px !important;
}
.mb-2{
    margin-bottom: 11px !important;
}
.mb-3{
    margin-bottom: 16px !important;
}
.mb-4{
    margin-bottom: 22px !important;
}
.mb-5{
    margin-bottom: 32px !important;
}
.mb-6{
    margin-bottom: 42px !important;
}
.mb-7{
    margin-bottom: 52px !important;
}

// HELPER
.hidden{
    display: none !important;
}

// IFRAME
.fluid-media {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
}
.fluid-media iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}