@import './_media_queries.scss';
@import './_variables.scss';
@import './_reset.scss';

@import './components/_Navbar.scss';
@import './components/_Section.scss';
@import './components/_Intro.scss';
@import './components/_News.scss';

.container{
    padding:32px 20px;
    width:100%;
    max-width: $site-width;
    margin:0 auto;
    max-width: $site-width;
}

.btn{
    font-size: 1rem;
    background: url('/assets/hexagon-bg.png') repeat center center;
    color: $blue;
    padding: 6px 12px;
    border: 2px solid $blue;
    box-shadow: 0 0 1rem $blue;
    transition: all 0.3s ease-out;

    &.btn-lg{
        font-size:1.5rem;
        font-weight:bold;
        padding: 12px 24px;
    }

    &:hover{
        background: $blue;
        color: $background;
    }
}