* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eaeaea;
  outline: none;
}

html, body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Oxanium', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  background: #0D0D0D;
  color: #eaeaea;
  scroll-behavior: smooth;
}

input, textarea, button {
  font-family: 'Roboto', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

@media (min-width: 1025px) {
  html, body {
    font-size: 1.1rem;
  }
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #00f8ff;
}

a:hover i {
  color: #00f8ff;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
}

.menu {
  position: absolute;
  top: 67.3vh;
  left: 0;
  z-index: 12;
}

.menu:before {
  content: " ";
  position: absolute;
  top: 11vh;
  left: 0;
  width: 100%;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#10131E), to(transparent));
  background: linear-gradient(#10131E, transparent);
}

.menu.small {
  top: 37.3vh;
}

.menu .menu-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 65%;
  color: black;
  /*
        margin: 0 auto;
        margin-top: 60px;
        */
}

.menu .menu-container .item {
  width: clamp(120px, 30%, 400px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4.5vw;
  padding-top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
  background: transparent;
  position: relative;
}

.menu .menu-container .item:before {
  content: "";
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 350px;
  background: transparent;
  opacity: 0;
  -webkit-transition-delay: 0.1s !important;
          transition-delay: 0.1s !important;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.menu .menu-container .item .text a {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.menu .menu-container .item.download:before {
  background: radial-gradient(circle at center, #f196d0 1%, transparent 60%);
}

.menu .menu-container .item.download .text a {
  color: #f196d0;
}

.menu .menu-container .item.menu-news:before {
  background: radial-gradient(circle at center, #93f1cf 1%, transparent 60%);
}

.menu .menu-container .item.menu-news .text a {
  color: #86f5c4;
}

.menu .menu-container .item.about:before {
  background: radial-gradient(circle at center, #60c3e1 1%, transparent 60%);
}

.menu .menu-container .item.about .text a {
  color: #7ccbeb;
}

.menu .menu-container .item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu .menu-container .item:hover:before {
  opacity: 1;
}

@media (orientation: portrait) {
  .menu {
    width: 100% !important;
    top: 31.5vh !important;
  }
  .menu .menu-container {
    width: 100% !important;
  }
  .menu .menu-container .item {
    width: 33%;
    max-width: 200px;
  }
  .menu .menu-container .item:before {
    display: none !important;
  }
  .menu .menu-container .item .text a {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
}

@media (min-width: 1960px) {
  .menu {
    width: 100% !important;
  }
  .menu.small {
    top: 39.3vh;
  }
  .menu .menu-container {
    width: 50% !important;
  }
  .menu .menu-container .item {
    width: 33%;
  }
  .menu .menu-container .item img {
    padding-bottom: 14px !important;
  }
  .menu .menu-container .item .text a {
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
  }
}

.section {
  margin-bottom: 52px;
}

.section.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-y-offset {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background: white;
  color: black;
}

.intro {
  width: 100% !important;
}

.intro.parallax {
  height: 80vh;
  width: 100% !important;
  position: relative;
  background: transparent !important;
  overflow: hidden !important;
  /*
        @media (min-width: 1920px) {
            .logo{
                background-size: 85% !important;
            }
            .robot{
                background-position: 50% center !important;
                background-size: 65% !important;
            }  
        }

        @media (min-width: 2560px) {
            .logo{
                background-size: 70% !important;
            }  
            .robot{
                background-position: 70% center !important;
                background-size: 35% !important;
            }  
        }
        */
}

.intro.parallax.small {
  height: 48vh;
}

.intro.parallax .parallax-item {
  background-size: cover !important;
  background-position: bottom center !important;
  height: 100% !important;
  width: 100% !important;
  position: absolute !important;
  top: 0;
  left: 0;
}

.intro.parallax .frame {
  background: url("/assets/intro/parallax/frame.png") no-repeat;
  z-index: 10;
}

.intro.parallax .bg {
  background: url("/assets/intro/parallax/bg.png") no-repeat;
  z-index: 6;
}

.intro.parallax .cards {
  background: url("/assets/intro/parallax/cards.png") no-repeat;
  z-index: 7;
}

.intro.parallax .logo {
  background: url("/assets/intro/parallax/logo.png") no-repeat;
  background-position: top center !important;
  z-index: 9;
}

.intro.parallax .robot {
  background: url("/assets/intro/parallax/robot.png") no-repeat;
  background-position: center !important;
  background-size: 95% !important;
  z-index: 8;
}

@media (orientation: portrait) {
  .intro.parallax {
    height: 40vh;
  }
  .intro.parallax .logo {
    background-size: 220vw !important;
    background-position: -7vw 1vw !important;
  }
  .intro.parallax .robot {
    display: none;
  }
}

.intro .react-parallax-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.intro .react-parallax-content .main-container {
  margin-top: 60px;
  position: relative;
}

/*
@keyframes animated-border {
from{
    box-shadow: 0 0 0 0 rgba(255,255,255,0.4);
}
to {
    box-shadow: 0 0 0 20px rgba(255,255,255,0);
}
}

.download {
    animation: animated-border 1.5s linear infinite;
    border: 2px solid;
    padding: 15px;
}
*/
.btn {
  font-size: 1rem;
  background: url("/assets/btn/hexagon-bg.png") repeat center center;
  color: #00f8ff;
  padding: 6px 12px;
  border: 2px solid #00f8ff;
  -webkit-box-shadow: 0 0 1rem #00f8ff;
          box-shadow: 0 0 1rem #00f8ff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn i {
  color: #00f8ff;
}

.btn.btn-lg {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px 24px;
}

.btn.btn-md {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 10px 22px;
  border-radius: 30px;
}

.btn.btn-sm {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 12px 24px;
  border-radius: 30px;
}

.btn:hover {
  background: #00f8ff;
  color: #0D0D0D;
}

.btn:hover i {
  color: #0D0D0D;
}

.download-btn {
  position: relative;
  padding: 10px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-overlay .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc( 100% - 19vw);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5px 0;
}

.gallery-overlay .controls i {
  cursor: pointer;
}

.gallery-overlay .main {
  position: relative;
}

.gallery-overlay .main img {
  width: 100%;
  max-width: 80vw;
  height: 100%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
}

.gallery div {
  -ms-flex-preferred-size: calc(50% - 22px);
      flex-basis: calc(50% - 22px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gallery div img {
  width: 100%;
  height: auto;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
}

.news .news-element {
  -ms-flex-preferred-size: calc(50% - 22px);
      flex-basis: calc(50% - 22px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.news .news-element .date {
  font-size: 0.8rem;
  opacity: 0.5;
  padding: 5px 0 0 0;
}

.news .news-element .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 35vh;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 248, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news .news-element .img:hover {
  border-color: rgba(0, 248, 255, 0.7);
}

.news .news-element .img a {
  width: 100%;
  height: 100%;
}

.news .news-element .img a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.news .news-element .title {
  margin-top: 11px;
  font-size: 1.5rem;
}

.news .news-element p {
  opacity: 0.7;
}

@media (max-width: 600px) {
  .news .news-element {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

#article.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  gap: 22px;
}

@media (max-width: 600px) {
  #article.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #article .sidebar {
    text-align: center;
    margin-bottom: 40px;
  }
}

#article .article .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-height: clamp(200px, 35vh, 400px);
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 248, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  overflow: hidden;
}

#article .article .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

#article .article .date {
  font-size: 0.9rem;
  opacity: 0.5;
  margin-bottom: 30px;
}

#article .article .title {
  margin-bottom: 10px;
}

#article .sidebar > .title {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

#article .sidebar .article-element {
  margin-bottom: 10px;
}

#article .sidebar .article-element .date {
  font-size: 0.8rem;
  opacity: 0.5;
}

.footer {
  width: 100%;
  border-top: 3px solid #00f8ff;
  background: url("/assets/hexagon-bg.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 1rem #00f8ff;
          box-shadow: 0 0 1rem #00f8ff;
}

.footer img {
  max-width: 12vw;
}

html, body {
  background: url("/assets/bg.png") center repeat;
  background-size: 35%;
}

#nonparallax {
  display: none;
}

#nonparallax img {
  width: 100%;
  height: auto;
}

#news-ver-mais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 26px;
}

#download .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding-top: 20px;
}

#download p {
  text-align: center;
}

@media (max-width: 600px) {
  #download .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#about h4 {
  color: #00f8ff;
}

#about p {
  margin-bottom: 10px;
}

.section-title {
  width: 100%;
  height: 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/assets/section-title/bg-shape.png") no-repeat;
  background-size: cover;
  background-position: center left;
  border-right: 2px solid #00f8ff;
  margin-top: 10px;
  margin-bottom: 22px;
  position: relative;
}

.section-title .spike.left {
  background: url("/assets/section-title/spike-line-left.png") no-repeat center;
  width: 120px;
  height: 100%;
}

.section-title .spike.right {
  background: url("/assets/section-title/spike-line-right.png") no-repeat center;
  width: 120px;
  height: 100%;
}

@media (orientation: portrait) {
  .section-title .spike {
    display: none;
  }
}

.container {
  padding: 32px 0;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 170px;
}

.container#coming-soon {
  margin-top: 60px;
}

.container#coming-soon:before {
  display: none !important;
}

@media (max-width: 960px) {
  .container {
    padding: 1rem 2rem 0 2rem;
  }
  .madcat-logo {
    display: none !important;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0 2rem 0 2rem;
  }
}

.madcat-logo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

.madcat-logo img {
  width: 100%;
  height: auto;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.mb-2 {
  margin-bottom: 11px !important;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.mb-4 {
  margin-bottom: 22px !important;
}

.mb-5 {
  margin-bottom: 32px !important;
}

.mb-6 {
  margin-bottom: 42px !important;
}

.mb-7 {
  margin-bottom: 52px !important;
}

.hidden {
  display: none !important;
}

.pointer {
  cursor: pointer !important;
}

.blue {
  color: #00f8ff;
}

.fluid-media {
  position: relative;
  padding-bottom: 56.25%;
  /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  height: 0;
  overflow: hidden;
}

.fluid-media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=globals.css.map */